[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "typeapi"
version = "0.1.2"
description = ""
authors = ["Niklas Rosenstein <rosensteinniklas@gmail.com>"]
license = "MIT"
readme = "readme.md"
packages = [{ include = "typeapi", from = "src" }]
classifiers = []
keywords = []

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/NiklasRosenstein/python-typeapi/issues"
Documentation = "https://niklasrosenstein.github.io/python-typeapi/"
Homepage = "https://github.com/NiklasRosenstein/python-typeapi"
# Repository = ""

[tool.poetry.dependencies]
python = "^3.7"
typing-extensions = ">=3.0.0"

[tool.poetry.dev-dependencies]
mypy = "*"
pytest = "*"

[tool.poetry.extras]
docs = ["novella==0.1.12", "pydoc-markdown==4.6.3", "mkdocs", "mkdocs-material"]

[tool.slam]
typed = true

[tool.slam.test]
check = "slam check"
mypy = "mypy src/ test/"
pytest = "pytest test/ -vv"

[tool.slam.run]
"docs:build" = "cd docs && novella"
"docs:dev" = "cd docs && novella --serve"

[tool.mypy]
pretty = true
namespace_packages = true
warn_redundant_casts = true
# warn_unused_ignores = true
warn_no_return = true
warn_unreachable = true
show_error_context = true
show_error_codes = true
check_untyped_defs = true
